.applicant-search{
  button{
    height: 58px;
  }
  .input-group{
    width: 450px;
    input{
      height: 58px;
      width: 236px;
    }
    .input-group-append{
      button{
        border-radius: 0 4px 4px 0;
      }
    }

  }

}
