.applicant-search{
  .input-group{
    .input-group-append{
      .ng-select .ng-select-container {
        height: 58px;
        width: 155px;
        border-radius: 0;
      }
    }

  }

}

.ng-select .ng-select-container {
  height: 58px !important;
  background-color: var(--muted-color);
}
