<div class="applicant-list">
  <div *ngIf="applicantList?.items" class="application-list--table">
    <!-- TABLE HEADER -->
    <div class="table-header row">
      <div class="col align-items-center item m-3">
        <span>Name(email)</span>
        <button
          (click)="
            NameSort = !NameSort;
            sortFild('application.name', NameSort ? 'asc' : 'desc')
          "
          type="button"
          class="btn btn-outline-primary btn-circle m-2 btn-sm"
        >
          <i *ngIf="NameSort" class="bi bi-chevron-up"></i>
          <i *ngIf="!NameSort" class="bi bi-chevron-down"></i>
        </button>
      </div>
      <div class="col align-items-center item m-3">
        <span>Phone</span>
        <button
          (click)="
            PhoneSort = !PhoneSort;
            sortFild('application.phone', PhoneSort ? 'asc' : 'desc')
          "
          type="button"
          class="btn btn-outline-primary btn-circle m-2 btn-sm"
        >
          <i *ngIf="PhoneSort" class="bi bi-chevron-up"></i>
          <i *ngIf="!PhoneSort" class="bi bi-chevron-down"></i>
        </button>
      </div>
      <div class="col-4 align-items-center item m-3">
        <span>Job</span>
        <button
          (click)="
            JobSort = !JobSort;
            sortFild('application.job_id', JobSort ? 'asc' : 'desc')
          "
          type="button"
          class="btn btn-outline-primary btn-circle m-2 btn-sm"
        >
          <i *ngIf="JobSort" class="bi bi-chevron-up"></i>
          <i *ngIf="!JobSort" class="bi bi-chevron-down"></i>
        </button>
      </div>
      <div class="col align-items-center item m-3">
        <span>Status</span>
        <button
          (click)="
            StatusSort = !StatusSort;
            sortFild('application.created_at', StatusSort ? 'asc' : 'desc')
          "
          type="button"
          class="btn btn-outline-primary btn-circle m-2 btn-sm"
        >
          <i *ngIf="StatusSort" class="bi bi-chevron-up"></i>
          <i *ngIf="!StatusSort" class="bi bi-chevron-down"></i>
        </button>
      </div>
      <div class="col align-items-center item m-3">
        <span></span>
      </div>
    </div>
    <!-- TABLE CONTANT -->
    <div class="table-content mt-4">
      <div *ngFor="let item of applicantList?.items" class="mt-2">
        <applicant-list-item [applicant]="item"></applicant-list-item>
      </div>
    </div>
    <!-- PAGINATION -->
    <div class="d-flex mt-3">
      <applicant-list-pagination
        class="m-auto"
        (paginate)="changePage($event)"
        [applicantList]="applicantList"
      ></applicant-list-pagination>
    </div>
  </div>
</div>
