<div class="applicant-list">
  <div class="application-list--table">
    <!-- PAGINATION -->
    <nav class="d-flex" aria-label="...">
      <ul class="pagination m-auto">
        <li class="page-item">
          <span class="page-link">First</span>
        </li>
        <li *ngIf="pagination.prevPage" class="page-item">
          <a class="page-link" href="#">{{ pagination.prevPage }}</a>
        </li>
        <li *ngIf="pagination.curPage" class="page-item active">
          <span class="page-link"> {{ pagination.curPage }}</span>
        </li>
        <li *ngIf="pagination.nextPage" class="page-item">
          <a class="page-link" href="#">{{ pagination.nextPage }}</a>
        </li>
        <li class="page-item">
          <a class="page-link" href="#">Next</a>
        </li>
      </ul>
    </nav>
  </div>
</div>
