<div class="applicant-list">
  <div class="application-list--table">
    <!-- TABLE HEADER -->
    <div class="table-header d-flex justify-content-between align-items-center">
      <div class="d-flex align-items-center item m-3">
        <span>Name(email)</span>
        <button type="button" class="btn btn-outline-primary btn-circle m-2 btn-sm">
          <i class="bi bi-chevron-up"></i>
          <i class="bi bi-chevron-down"></i>
        </button>
      </div>
      <div class="d-flex align-items-center item m-3">
        <span>Phone</span>
        <button type="button" class="btn btn-outline-primary btn-circle m-2 btn-sm">
          <i class="bi bi-chevron-up"></i>
          <i class="bi bi-chevron-down"></i>
        </button>
      </div>
      <div class="d-flex align-items-center item m-3">
        <span>Job</span>
        <button type="button" class="btn btn-outline-primary btn-circle m-2 btn-sm">
          <i class="bi bi-chevron-up"></i>
          <i class="bi bi-chevron-down"></i>
        </button>
      </div>
      <div class="d-flex align-items-center item m-3">
        <span>Status</span>
        <button type="button" class="btn btn-outline-primary btn-circle m-2 btn-sm">
          <i class="bi bi-chevron-up"></i>
          <i class="bi bi-chevron-down"></i>
        </button>
      </div>

    </div>
    <!-- TABLE CONTANT -->
    <div class="table-content">

    </div>
    <!-- PAGINATION -->
    <div class="d-flex mt-3">
      <applicant-list-pagination
        class="m-auto"
        *ngIf="applicantList"
        (paginate)="changePage($event)"
        [applicantList]="applicantList"
      ></applicant-list-pagination>
    </div>
  </div>
</div>
